/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

.bg-video {
  width: 100%;
}

.video-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(19, 152, 35);
}

.video-container h1 {
  color: rgb(231, 199, 60);
  margin-top: -35px;
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 5rem;
  width: 90%;
}

/* - ------------------Navigations bar---------------------------------------------------------------------- */

.logo {
  width: 60px;
  position: relative;
  margin-left: 30px;
  margin-top: 15px;
}

.logo a {
  font-size: 20px;
  position: inherit;
  color: rgb(255, 255, 255);
  text-align: center;
}

.logo:hover {
  transform: scale(1.1);
}

.background-color {
  background-color: #202e1f;
}

nav {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202e1f;
}

nav ul {
  list-style: none;
  display: flex;
  position: absolute;
  top: 50px;
  right: 10px;
  flex-direction: row;
}

nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 18px 18px;
  display: block;
  font-weight: 700;
  letter-spacing: 0.04049rem;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: -25px;
}

nav ul li a:hover {
  color: rgb(239, 235, 28);
  line-height: 1.1875rem;
  text-decoration: navy;
}

/* - ---------------------------------------------------------------------------------------- */



.mobile-container {
    width: 100%;
    
}

.topnav {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    width: 25%;
    text-decoration: none;
    color: black;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-right: 5px;
}

#myLinkss {
    display: none;
}

#myLinkss a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #04AA6D;
}

.icon {
    display: none;
}

@media screen and (max-width: 769px) {
    .topnav {
        flex-direction: column;
        align-items: stretch;
    }

    .logo-link {
        width: 25%;
        justify-content: flex-start;
    }

    #myLinks {
        width: 50%;
        text-align: center;
    }

    .icon {
        display: block;
        width: 25%;
        text-align: right;
    }
}




/* - ---------------------Rolling cans------------------------------------------------------------------- */

.cans-container {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 1rem;
  padding-bottom: 50px;
  margin-top: -200px;
}

.cans {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  min-width: 100%;
  animation: scroll 10s linear infinite;
}

.can {
  width: 150px;
  height: 300px;
  margin-top: 80px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

@keyframes rollCan {
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translate(1200%, 0);
  }
}

/* - --------------------------smag vores nye-------------------------------------------------------------- */

.p1 {
  color: rgb(88, 114, 130);
  font-size: 70px;
  font-weight: 900;
  margin-top: -20px;
}

.p2 {
  color: rgb(88, 114, 130);
  font-size: 35px;
  font-weight: 900;
  line-height: 1.6;
  position: relative;
  margin-top: -15px;
  width: 100%;
}

.container {
  background-color: #fffdd0;
  padding: 3em 4em 8em;
}

.bottle {
  position: relative;
}

.liquid-image {
  width: 5rem;
  top: 50%;
  left: 99%;
  position: absolute;
  bottom: 0;
  transform-origin: bottom center;
  animation: liquidEffect 3s ease-in-out infinite alternate;
}

@keyframes liquidEffect {
  0% {
    transform: scaleY(1) rotate(-2deg);
  }
  50% {
    transform: scaleY(1.1) rotate(2deg);
  }
  100% {
    transform: scaleY(1) rotate(-2deg);
  }
}

/* - ---------------------------rolling cans------------------------------------------------------------- */

.cane4 {
  width: 100%;
  height: auto;
  animation: swingPicture 5s infinite;
}

@keyframes swingPicture {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-70deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* - ----------------------sundhed------------------------------------------------------------------ */

h1 {
  font-size: 45px;
  font-weight: 890;
  padding: 60px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

p {
  
  color: rgb(231, 199, 60);
  font-size: 10px;
  font-weight: 900;
  gap: 10px;
  font-family: "Courier New", Courier, monospace;
}

.p3 {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  background-color: #202e1f;
}

.p3 p {
  padding: 10px;
  font-size: 26.5px;
  text-align: left;
  line-height: 1.6;
}

.p3 h1 {
  padding: 10px;
  color: rgb(231, 199, 60);
  font-size: 60.5px;
}

.cane4 {
  width: 100px;
  margin: 30px;
  float: right;
}

.cane3 {
  width: 100px;
  float: right;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 1329px;
  top: px;
  bottom: -1469px;
}

#sundheds-section {
  padding: 4em;
}

/* - -----------------------pics----------------------------------------------------------------- */

.doctor {
  width: 500px;
  height: 500px;
  
}



.can6 {
  width: 110px;
}

/* footer start */

.footer {
  padding: 40px;
  background-color: #fffdd0;
  font-family: "Courier New", Courier, monospace;
}

.social {
  text-align: center;
  padding: 25px;
  color: rgb(88, 114, 130);
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid rgb(88, 114, 130);
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li a:hover {
  opacity: 1;
  color: rgb(88, 114, 130);
}

.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(88, 114, 130);
}

.footer {
  width: 100%;
  bottom: 0;
}

/* footer slut */

/* - ---------------------------------------------------------------------------------------- */

/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}



/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}



.hamMenu
{width:auto;}

@media only screen and (max-width: 769px) {
#desktop-sundheds-section{
  display: none;
}

 .desktopOnly{
        
        display: none;
    } 

}

@media only screen and (min-width: 769px) {
  #mobil-sundheds-section{
   display: none;
  }
  


  .doctors{
    display: flex;
  }
    
 .mobileOnly{
        
        display: none;
    }        
    
  }
  


/* Add a media query for smaller screens */
@media only screen and (max-width: 768px) {
  .video-container h1 {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }

  .doctor{
    display: none;
  }
  
  nav ul {
    display: none; /* Hide navigation links on smaller screens */
  }

 
  .background-color {
    padding-top: 200px; /* Adjust padding for smaller screens */
  }
  
  .cans-container {
    flex-direction: column; /* Stack cans vertically on smaller screens */
    align-items: center; /* Center cans on smaller screens */
    flex-direction: row;
  }
  
  .video-container h1 {
    color: rgb(231, 199, 60);
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1rem;
    width: 90%;
  }


  .p1 {
    font-size: 25px; /* Adjust font size for smaller screens */
  }
  
  .p2 {
    font-size: 15px; /* Adjust font size for smaller screens */
    margin-top: -20%;
    padding-top: 20%;
  }
  
  .p3 {
    flex-direction: row; /* Stack content in the "sundheds-section" vertically on smaller screens */
    padding-top: 15px; /* Adjust padding for smaller screens */
  }
  
  .p3 h1 {
    font-size: 30px; /* Adjust font size for smaller screens */
    text-align: center;
  }
  
  .p3 p {
    font-size: 16px; /* Adjust font size for smaller screens */
    text-align: center;
    padding-top: 5%;
  }

.cans-container {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 1rem;
  padding-bottom: 50px;
  margin-top: -200px;
}



@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 1rem));
  }
}



}
